<mat-toolbar color="primary" class="header">
  @if (appStore.isLoggedIn()){
    <button mat-icon-button (click)="appStore.toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  }


  <h1 class="sidebar-app-name">Finance Tracker</h1>

  <span class="spacer"></span>
  <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="change-password">
      <mat-icon>key_vertical</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

</mat-toolbar>
