<app-header></app-header>
<div class="login-container">
  <mat-card class="mat-card-width-400">

    @if (step() === 1) {
      <h2>Forgot Password</h2>
      <p class="subtitle">Enter your email to receive a 6-digit OTP code.</p>

      <form (submit)="onRequestOtp()" [formGroup]="otpRequestForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email" placeholder="email@example.com" required>
          @if (otpRequestForm.get('email')?.hasError('email')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (otpRequestForm.get('email')?.hasError('required')) {
            <mat-error>Email is required</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width-btn" [disabled]="otpRequestForm.invalid || isLoading()" >
          {{ isLoading() ? 'Sending...' : 'Send OTP' }}
        </button>
      </form>
    }

    @else {
      <h2>Verify OTP</h2>
      <p class="subtitle">Check your inbox for the code sent to <b>{{ email() }}</b></p>

      <form (submit)="onResetPassword()" [formGroup]="passwordResetForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>6-Digit OTP</mat-label>
          <input matInput formControlName="otp" maxlength="6" placeholder="123456" required>
          @if (passwordResetForm.get('otp')?.hasError('maxlength')) {
            <mat-error>Enter 6 Digit OTP</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required>
          @if (passwordResetForm.get('newPassword')?.hasError('pattern')) {
            <mat-error>Password is too weak</mat-error>
          }
          @if (passwordResetForm.get('newPassword')?.hasError('minlength')) {
            <mat-error>Minimum 8 characters required</mat-error>
          }
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" class="full-width-btn"  [disabled]="passwordResetForm.invalid || isLoading()" >
            {{ isLoading() ? 'Resetting...' : 'Update Password' }}
          </button>

          <button mat-button type="button" (click)="step.set(1)" [disabled]="isLoading()">
            Back
          </button>
        </div>
      </form>
    }
  </mat-card>
</div>
